{
  "username": "YOUR_USERNAME",
  "password": "YOUR_PASSWORD",
  "apiKey": "YOUR_API_KEY",
  "accountType": "demo",
  "mongodb_uri": "YOUR_MONGODB_URI",
  "trading": {
    "history_start_date": "2025-01-01", // format AAAA-MM-DD
    "interval": 10,
    "indices": {
      "AC.PA": "Accor",
      "AI.PA": "Air Liquide",
      "AIR.PA": "Airbus",
      "ALO.PA": "Alstom",
      "MT.AS": "ArcelorMittal",
      "ATO.PA": "Atos",
      "CS.PA": "AXA",
      "BNP.PA": "BNP Paribas",
      "EN.PA": "Bouygues",
      "CAP.PA": "Capgemini",
      "CA.PA": "Carrefour",
      "CI.PA": "Cie Générale des Établissements Michelin",
      "SGO.PA": "Compagnie de Saint-Gobain",
      "BN.PA": "Danone",
      "DSY.PA": "Dassault Systèmes",
      "ENGI.PA": "ENGIE",
      "EL.PA": "EssilorLuxottica",
      "ERF.PA": "Eurofins Scientific",
      "RMS.PA": "Hermès",
      "HO.PA": "Thales",
      "OR.PA": "L'Oréal",
      "LR.PA": "Legrand",
      "MC.PA": "LVMH",
      "ML.PA": "Michelin",
      "TTE.PA": "TotalEnergies",
      "MCP.PA": "Michelin (CI)",
      "RI.PA": "Pernod Ricard",
      "PUB.PA": "Publicis Groupe",
      "RNO.PA": "Renault",
      "SAF.PA": "Safran",
      "SGO.PA": "Saint-Gobain",
      "SAN.PA": "Sanofi",
      "SU.PA": "Schneider Electric",
      "GLE.PA": "Société Générale",
      "STM.PA": "STMicroelectronics",
      "SW.PA": "Sodexo",
      "STLA.PA": "Stellantis",
      "TEC.PA": "TechnipFMC",
      "VIE.PA": "Veolia Environnement",
      "VIV.PA": "Vivendi",
      "WLN.PA": "Worldline",
      "URW.AS": "Unibail-Rodamco-Westfield"
    }
  }
}
